.ModalBackground {
  background-color: rgba(92, 92, 92, 0.582);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
