.FormContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-main);
    width: 60%;
    height: 20%;
    padding: 10px;
    border: 1px solid var(--green-primary)
}
.FormTitle {
    font-size: 24px;
    color: var(--green-primary);
}

.FormTextArea  {
    background-color: var(--green-muted);
    font-family: 'VT323', monospace;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color:  var(--green-primary);
}

.ButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 100%;

}

.TodoForm-button {
    padding: 8px;
    cursor: pointer;
}

.TodoForm-button-add {
    background-color: var(--green-primary);
    color: var(--green-muted);
    font-family: 'VT323', monospace;
    font-size: 20px;
    font-weight: 200;
    border: 1px solid var(--green-muted);
}

.TodoForm-button-cancel {
    background-color: var(--green-muted);
    color: var(--green-primary);
    font-family: 'VT323', monospace;
    font-size: 20px;
    font-weight: 200;
    border: 1px solid var(--green-muted);
}