@import url('https://fonts.googleapis.com/css2?family=VT323&family=IBM+Plex+Mono:wght@400;600&family=Press+Start+2P&display=swap');

#root {
  position: relative;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  min-height: 100vh;
}

:root {
  --bg-main: #0D0F12;
  --bg-panel: #1F271C;
  --green-primary: #39FF14;
  --green-secondary: #6AFF92;
  --green-muted: #2E3A2B;
}

body {
  justify-items: center;
  background-color: var(--bg-main);
  color: var(--green-primary);
  font-family: 'VT323', monospace;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
